@import url("https://fonts.googleapis.com/css2?family=Anek+Kannada:wght@100;300;400;500;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;300;500&display=swap");

* {
  font-family: "Anek Kannada", sans-serif;
}

/* Custom colors from Figma Design/Mobile wallet */
:root {
  --black: #000000;
  --white: #ffffff;
  --primary-purple: #7700d5;
  --light-white: #f6f6f6;
  --medium-white: #f4f4f4;
  --white-grey: #eeeeee;
  --light-grey: #d9dfe5;
  --medium-grey: #bfc3c7;
  --container-grey: #f9f9f9;
  --grey: #a8aeb7;
  --grey-meta: #646f85;
  --dark-grey: #3d4767;
  --header-background: #313747;
  --main-background: #282e3f;
  --grey-black: #000d35;
  --button-inactive: #eeeeee;
  --active: #9742fb;
  --button-disabled: #ba62fe;
  --gradient-start-color: #c87ff2;
  --gradient-middle-color: #853de0;
  --gradient-end-color: #4483b0;
  --transparent: transparent;
  --semi-transparent-white: rgba(255, 255, 255, 0.8);
  --semi-transparent-dark: rgba(0, 0, 0, 0.8);
  --light-background: #ffffff;
  --dark-background: #3d4767;
  --light-text: #3d4767;
  --dark-text: #eeeeee;
  --red: #e40000;
  --switch-active-color: #9d4dfa;
  --switch-inactive-color: #e7e7e7;
  --switch-inactive-border-color: #94939b;
  --yellow: #fbff4a;
  --grey-background: #f9f9f9;
  --link-text-color: #8835e7;
  --trans-grey: #f9f9f9;
  --error: #ef0505;
  --slow: #ff740f;
  --average: #4f67e4;
  --fast: #3ab24d;
  --light-purple-background: #f8f0ff;
  --semi-transparent-grey: rgba(61, 71, 103, 0.8);
  --warning-button: #dbaeff;
  --light-input-active-color: #f8f0ff;
  --white-light-grey: #e0e0e0;
  --ion-app-color: #3D4767;
}

.ion-color-light {
  --ion-color-base: #ffffff !important;
}

:host(.ion-color) .inner-scroll {
  --ion-background-color: white !important;
  --ion-background: white !important;
}

.dark-ion-popover ion-content {
  --background: var(--ion-color-primary);
}

ion-split-pane {
  --side-width: 350px;
  --side-max-width: 350px;
}

ion-card {
  border-radius: 1rem;
}

/* ion-button {
  --border-radius: 30px;
} */

.pool-item-card {
  -webkit-transition: transform 0.4s ease-in;
  -moz-transition: transform 0.4s ease-in;
  -ms-transition: transform 0.4s ease-in;
  transition: transform 0.4s ease-in;
  cursor: pointer;
}

.pool-item-card:hover {
  transform: scale(1.1);
  z-index: 9999;
}

.pool-item-img,
.pool-detail-img {
  width: 100%;
  object-fit: cover;
}
.pool-item-img,
.pool-item-img-skeleton {
  height: 20rem;
}
.pool-detail-img,
.pool-detail-img-skeleton {
  height: 30rem;
}

.pool-item-img-skeleton,
.pool-detail-img-skeleton {
  width: 100%;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  margin-top: 0;
}

ion-toolbar {
  --background: transparent;
}

.smallText {
  font-size: 11px;
  margin-left: 2px;
}

.app-header {
  box-shadow: 0 4px 16px 0 rgba(90, 90, 90, 0.1),
    0 6px 30px 0 rgba(90, 90, 90, 0.1);
  background-color: white !important;
}

.app-title-text {
  color: var(--ion-app-color);
  font-size: 1rem;
  font-style: normal;
  font-weight: 800;
  line-height: 2.375rem;
  letter-spacing: 0.016rem;
}
.header-title-text {
  background-color: white;
  color: var(--ion-title-color);
  font-size: 1.875rem;
}

.flexDirectionCol {
  display: flex;
  flex-direction: column;
}

.flexDirectionRow {
  display: flex;
  flex-direction: row;
}

.pink-line {
  border-bottom: 1px solid #fd84ea;
}

.bullet-points {
  margin-top: 1px;
  padding-left: 1rem !important;
  font-weight: 400;
  line-height: 17px; /* 121.429% */
  letter-spacing: 0.5px;
}

.bullet-points li::marker {
  font-size: 0.2em;
}

.minimal-line-height {
  line-height: 1px;
}

.mb-3 {
  margin-bottom: 30px;
}

.mb-1 {
  margin-bottom: 10px;
}

.header-title-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 4.375rem;
}

.page-header-title {
  margin-top: auto;
  font-size: 2.5rem;
}

.logged-in-button {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  border-color: var(--ion-color-primary);
}

.space-between {
  display: flex;
  justify-content: space-between;
}
.logged-in-button .divider {
  background-color: var(--ion-color-primary);
  width: 1px;
}

.logged-in-button .address {
  padding-top: 0.33rem;
  padding-bottom: 0.2rem;
  padding-right: 0.5rem;
  color: var(--ion-color-primary);
}

.logged-in-button .balance {
  padding-left: 0.5rem;
  padding-top: 0.33rem;
  padding-bottom: 0.2rem;
  color: var(--light-text);
}

@media (min-width: 768px) {
  .ion-show-md-up {
    display: block !important;
  }
}

.footer-button {
  --padding-top: 10px !important;
  --padding-bottom: 10px !important;
  --padding-start: 15px !important;
  --padding-end: 15px !important;
  margin-bottom: 10px !important;
  margin-top: 10px !important;
}

/* Images/Swiper */

.swiper {
  width: 100%;
  height: 14.563rem !important;
}

.swiper-slide {
  width: 9.438rem !important;
  border-radius: 0.938rem;
}

.card-img-swiper {
  margin: 0;
  width: 100%;
  margin-inline: 0;
  background-color: #f8f8f8 !important;
  border-radius: 0.938rem;
  height: 14.563rem !important;
  box-shadow: none !important;
}

.card-img-swiper ion-card-header {
  padding: 0.3rem 0.3rem 0 0.5rem;
}

.filter-img {
  filter: blur(10px) !important;
  filter: brightness(0.4) !important;
  /*   filter: contrast(200%);
  filter: drop-shadow(16px 16px 20px blue);
  filter: grayscale(50%); */
  filter: hue-rotate(90deg) !important;
  /* filter: invert(75%);
  filter: opacity(25%);
  filter: saturate(30%);
  filter: sepia(60%); */
}

.card-img-swiper ion-card-title {
  color: #4f4f4f;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  text-transform: none;
  text-align: left;
  padding: 0;
}
.card-img-swiper ion-card-content {
  padding: 0 !important;
  font-size: 0.688rem;
  font-style: normal;
  font-weight: 400;
}

.card-img-swiper ion-card-content ion-label {
  margin-left: 0.3rem !important;
}
.card-img-swiper ion-card-content ion-col {
  display: flex;
  align-items: flex-start;
}

.card-img-swiper ion-card-subtitle {
  color: #000;
  text-align: left;
  width: 100%;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
  padding: 0 !important;
  text-transform: none;
}
.swiper-item-img {
  object-fit: cover;
}

.swiper-item-img,
.swiper-item-img-skeleton {
  height: 9.438rem !important;
  width: 100% !important;
  border-radius: 0.938rem;
}

.swiper-item-img-skeleton {
  margin-top: 0;
}

.spaced-on-sides {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* customs from design */
.create-fab-button {
  --border-radius: 1rem !important;
  transition: width 0.5s ease;
}

.create-fab-button ion-label {
  transition: display 0.5s ease;
  padding-left: 0.5rem;
  display: none;
}

.create-fab-button ion-icon {
  width: 1.5rem !important;
}

.create-fab-button:hover,
.create-fab-button:active {
  width: 10rem;
}

.create-fab-button:hover ion-label,
.create-fab-button:active ion-label {
  display: block;
}

.app-tab-bar {
  height: 5.313rem;
}

.app-tab-bar,
.app-side-menu {
  --background: #ffffff !important;
}

.app-side-menu ion-item,
.app-tab-bar ion-tab-button {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.app-side-menu ion-item {
  font-size: 1rem;
  letter-spacing: 0.002rem;
}

.app-tab-bar ion-tab-button {
  font-size: 0.656rem;
  letter-spacing: 0.002rem;
}

.app-page-top-bar {
  --padding-start: 0rem !important;
  --padding-end: 0rem !important;
  width: 100% !important;
}

.app-page-top-bar ion-buttons ion-button:first-child {
  --padding-start: 0.8rem !important;
}

.app-page-top-tab-button:hover,
.app-page-top-tab-button.ion-color-primary {
  border-bottom: 1px solid #7700d5;
}

.app-page-top-search-bar {
  width: 0%;
  background-color: #ffffff;
  text-align: left;
  position: absolute;
  top: 0;
  z-index: 999;
  left: 0;
  transition: all 0.3s ease-in-out;
}
.app-page-top-search-bar.active {
  width: 100%;
}
.app-page-top-search-bar ion-searchbar ion-icon {
  margin-left: 0.6rem !important;
}
.app-page-top-search-buttons ion-button {
  min-width: 2rem;
}
.purple-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--light-purple-background);
  width: 95%;
  height: 40%;
  margin: 0 auto;
  border-radius: 20px;
}

.purple-container > * {
  margin: 0 auto;
}

.purple-container {
  color: var(--primary-purple);
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0.5px;
}


.grey-container {
  background-color: var(--container-grey);
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 100px;
  margin: 0 auto;
  padding: 12px;
  line-height: 0px;
  border-radius: 12px;
  margin-bottom: 10px;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.small-purple-text {
  color: var(--primary-purple);

  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 153.846% */
  letter-spacing: 0.75px;
}
.align-to-grey-container {
  width: 90%;
  margin: 0 auto;
}

.collective-card {
  background-color: var(--container-grey);
  padding-right: 10px;
  padding-top: 10px;
  width: 75%;
  height: 95px;
}

.generic-grey-card {
  display: flex;
  flex-direction: column;
  padding: 12px;
  line-height: 0px;
  border-radius: 12px;
  margin-bottom: 10px;
}

.collective-card-right {
  background-color: var(--container-grey);
  margin-left: 7px;
  width: 20%;
  height: 95px;
}

.parent-hover:hover .collective-card,
.parent-hover:hover .collective-card-right {
  background-color: var(--light-purple-background);
}

.collective-card-name {
  color: var(--primary-purple);
  font-feature-settings: "clig" off, "liga" off;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.5px;
  margin-left: 20px;
  margin-bottom: 5px;
}

.collective-data-container {
  position: relative;
}

.public-address {
  color: #646f85;
  font-size: 13px;
  font-weight: 400;
  line-height: 0px;
  letter-spacing: 0.75px;
  word-wrap: break-word;
  margin-left: 20px;
}

.admin-tag {
  border-radius: 2px;
  background: var(--yellow);
  color: #000;
  text-align: center;
  font-family: "JetBrains Mono" sans-serif;
  font-size: 10px;

  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.5px;
  margin-top: 10px;
}

.collective-card-titles {
  color: var(--dark-grey);
  font-family: "JetBrains Mono" sans-serif;
  font-size: 12px;
  letter-spacing: 0.5px;
  padding-right: 5%;
}

/* Invite page */
ion-content.invite-page-code {
  --background: linear-gradient(0deg, #4483b0 0%, #853de0 46.35%, #c87ff2 100%);
  --color: #ffffff;
}

ion-content.invite-page-link {
  --background: linear-gradient(
    180deg,
    #823aba 0%,
    #6f48c4 53.13%,
    #b454cc 100%
  );
  --color: #ffffff;
}

.invite-page .invite-content {
  max-width: 43.75rem;
}

.invite-page .title {
  font-size: 2.25rem;
  font-weight: 800;
  line-height: 2.375rem;
  letter-spacing: 0.016rem;
}

.invite-page .title .tech {
  font-size: 1.25rem;
}

.invite-page .subtitle {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 0.688rem;
  letter-spacing: 0.031rem;
}

.invite-page .greetings {
  text-transform: uppercase;
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 1.125rem;
  letter-spacing: 0.031rem;
  word-wrap: break-word;
}

.invite-page .message {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1rem;
  letter-spacing: 0.031rem;
}

.invite-page .greetings-icon {
  width: 3rem !important;
  height: 3rem !important;
}

.invite-page .helper-text {
  color: #ffffff !important;
}

.invite-page .invite-action-btn {
  color: var(--ion-color-primary) !important;
  --background: #ffffff;
}

.invite-page .invite-action-btn:hover,
.invite-page .invite-action-btn:active {
  color: #ffffff !important;
  --background: var(--ion-color-primary);
}

.invite-page .invite-clear-btn {
  color: #edd8ff !important;
  width: 100% !important;
}

.invite-page .invite-clear-btn:hover {
  color: #ffffff !important;
}

.invite-page .invite-group-details {
  background: rgba(255, 255, 255, 0.18);
  border-radius: 1rem;
  border: 1px #f0e3fb solid;
  padding: 1rem 2rem;
}

.invite-page .invite-group-details .group-name {
  text-transform: uppercase;
  color: #f8f0ff;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.125rem;
  letter-spacing: 0.031rem;
  word-wrap: break-word;
}

.invite-page .invite-group-details .group-desc {
  color: white;
  font-size: 0.938rem;
  font-weight: 400;
  line-height: 1.125rem;
  letter-spacing: 0.031rem;
  word-wrap: break-word;
}

.invite-page .invite-footer-text {
  color: #f5f5f5;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 0.047rem;
  word-wrap: break-word;
}
