@import url("https://fonts.googleapis.com/css2?family=Anek+Kannada:wght@100;300;400;500;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;300;500&display=swap");

* {
  font-family: "Anek Kannada", sans-serif;
}

/* Custom colors from Figma Design/Mobile wallet */
:root {
  --black: #000000;
  --white: #ffffff;
  --primary-purple: #7700d5;
  --light-white: #f6f6f6;
  --medium-white: #f4f4f4;
  --white-grey: #eeeeee;
  --light-grey: #d9dfe5;
  --medium-grey: #bfc3c7;
  --container-grey: #f9f9f9;
  --grey: #a8aeb7;
  --grey-meta: #646f85;
  --dark-grey: #3d4767;
  --header-background: #313747;
  --main-background: #282e3f;
  --grey-black: #000d35;
  --button-inactive: #eeeeee;
  --active: #9742fb;
  --button-disabled: #ba62fe;
  --gradient-start-color: #c87ff2;
  --gradient-middle-color: #853de0;
  --gradient-end-color: #4483b0;
  --transparent: transparent;
  --semi-transparent-white: rgba(255, 255, 255, 0.8);
  --semi-transparent-dark: rgba(0, 0, 0, 0.8);
  --light-background: #ffffff;
  --dark-background: #3d4767;
  --light-text: #3d4767;
  --dark-text: #eeeeee;
  --red: #e40000;
  --switch-active-color: #9d4dfa;
  --switch-inactive-color: #e7e7e7;
  --switch-inactive-border-color: #94939b;
  --yellow: #fbff4a;
  --grey-background: #f9f9f9;
  --link-text-color: #8835e7;
  --trans-grey: #f9f9f9;
  --error: #ef0505;
  --slow: #ff740f;
  --average: #4f67e4;
  --fast: #3ab24d;
  --light-purple-background: #f8f0ff;
  --semi-transparent-grey: rgba(61, 71, 103, 0.8);
  --warning-button: #dbaeff;
  --light-input-active-color: #f8f0ff;
  --white-light-grey: #e0e0e0;
  --ion-app-color: #3d4767;
}

ion-button.grey-btn {
  --background: var(--grey-meta);
  --background-hover: var(--dark-grey);
  --background-activated: var(--dark-grey);
  --background-focused: var(--dark-grey);

  --color: #ffffff;

  --border-radius: 0;
  --border-color: var(--grey-meta);
  --border-style: solid;
  --border-width: 1px;
}

.ion-color-light {
  --ion-color-base: #ffffff !important;
}

:host(.ion-color) .inner-scroll {
  --ion-background-color: white !important;
  --ion-background: white !important;
}

.dark-ion-popover ion-content {
  --background: var(--ion-color-primary);
}

ion-modal ion-title {
  text-transform: uppercase !important;
}

.app-header ion-title {
  text-transform: uppercase !important;
  font-size: 20px;
  text-align: left;
  margin-left: -30px;
  margin-top: 3px;
}
ion-split-pane {
  --side-width: 350px;
  --side-max-width: 350px;
}

ion-card {
  border-radius: 1rem;
}

/* ion-button {
  --border-radius: 30px;
} */

.pool-item-card {
  -webkit-transition: transform 0.4s ease-in;
  -moz-transition: transform 0.4s ease-in;
  -ms-transition: transform 0.4s ease-in;
  transition: transform 0.4s ease-in;
  cursor: pointer;
}

.pool-item-card:hover {
  transform: scale(1.1);
  z-index: 9999;
}

.pool-item-img,
.pool-detail-img {
  width: 100%;
  object-fit: cover;
}
.pool-item-img,
.pool-item-img-skeleton {
  height: 20rem;
}
.pool-detail-img,
.pool-detail-img-skeleton {
  height: 30rem;
}

.pool-item-img-skeleton,
.pool-detail-img-skeleton {
  width: 100%;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  margin-top: 0;
}

ion-toolbar {
  --background: transparent;
}

.smallText {
  font-size: 11px;
  margin-left: 2px;
}

.app-header {
  box-shadow: 0 4px 16px 0 rgba(90, 90, 90, 0.1),
    0 6px 30px 0 rgba(90, 90, 90, 0.1);
  background-color: white !important;
}

.app-title-text {
  color: var(--ion-app-color);
  font-size: 1rem;
  font-style: normal;
  font-weight: 800;
  line-height: 2.375rem;
  letter-spacing: 0.016rem;
}
.header-title-text {
  background-color: white;
  color: var(--ion-title-color);
  font-size: 1.875rem;
}

.flexDirectionCol {
  display: flex;
  flex-direction: column;
}

.flexDirectionRow {
  display: flex;
  flex-direction: row;
}

.pink-line {
  border-bottom: 1px solid #fd84ea;
}

.bullet-points {
  margin-top: 1px;
  padding-left: 1rem !important;
  font-weight: 400;
  line-height: 17px; /* 121.429% */
  letter-spacing: 0.5px;
}

.bullet-points li::marker {
  font-size: 0.2em;
}

.minimal-line-height {
  line-height: 1px;
}

.mb-3 {
  margin-bottom: 30px;
}

.mb-1 {
  margin-bottom: 10px;
}

.mt-3 {
  margin-top: 30px;
}

.mt-1 {
  margin-top: 10px;
}

.header-title-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 4.375rem;
}

.page-header-title {
  margin-top: auto;
  font-size: 2.5rem;
}

.row-img {
  border-radius: 10px;
  width: 80px;
  object-fit: cover;
}

.logged-in-button {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  border-color: var(--ion-color-primary);
}

.space-between {
  display: flex !important;
  justify-content: space-between !important;
}
.logged-in-button .divider {
  background-color: var(--ion-color-primary);
  width: 1px;
}

.logged-in-button .address {
  padding-top: 0.33rem;
  padding-bottom: 0.2rem;
  padding-right: 0.5rem;
  color: var(--ion-color-primary);
}

.logged-in-button .balance {
  padding-left: 0.5rem;
  padding-top: 0.33rem;
  padding-bottom: 0.2rem;
  color: var(--light-text);
}

@media (min-width: 768px) {
  .ion-show-md-up {
    display: block !important;
  }
}

.footer-button {
  --padding-top: 10px !important;
  --padding-bottom: 10px !important;
  --padding-start: 15px !important;
  --padding-end: 15px !important;
  margin-bottom: 10px !important;
  margin-top: 10px !important;
}

/* Images/Swiper */

.swiper {
  width: 100%;
  height: 14.563rem !important;
}

.swiper-slide {
  width: 9.438rem !important;
  border-radius: 0.938rem;
}

.card-img-swiper {
  margin: 0;
  width: 100%;
  margin-inline: 0;
  background-color: #f8f8f8 !important;
  border-radius: 0.938rem;
  height: 14.563rem !important;
  box-shadow: none !important;
  cursor: pointer;
}

.card-img-swiper ion-card-header {
  padding: 0.3rem 0.3rem 0 0.5rem;
}

.filter-img {
  filter: blur(10px) !important;
  filter: brightness(0.4) !important;
  /*   filter: contrast(200%);
  filter: drop-shadow(16px 16px 20px blue);
  filter: grayscale(50%); */
  filter: hue-rotate(90deg) !important;
  /* filter: invert(75%);
  filter: opacity(25%);
  filter: saturate(30%);
  filter: sepia(60%); */
}

.card-img-swiper ion-card-title {
  color: #4f4f4f;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  text-transform: none;
  text-align: left;
  padding: 0;
}
.card-img-swiper ion-card-content {
  padding: 0 !important;
  font-size: 0.688rem;
  font-style: normal;
  font-weight: 400;
}

.card-img-swiper ion-card-content ion-label {
  margin-left: 0.3rem !important;
}
.card-img-swiper ion-card-content ion-col {
  display: flex;
  align-items: flex-start;
}

.card-img-swiper ion-card-subtitle {
  color: #000;
  text-align: left;
  width: 100%;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
  padding: 0 !important;
  text-transform: none;
}

.swiper-item-img {
  object-fit: cover;
}

.swiper-item-img,
.swiper-item-img-skeleton {
  height: 9.438rem !important;
  width: 100% !important;
  border-radius: 0.938rem;
}

.swiper-item-img-skeleton {
  margin-top: 0;
}

.spaced-on-sides {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* customs from design */
.create-fab-button {
  --border-radius: 1rem !important;
  transition: width 0.5s ease;
}

.create-fab-button ion-label {
  transition: display 0.5s ease;
  padding-left: 0.5rem;
  display: none;
}

.create-fab-button ion-icon {
  width: 1.5rem !important;
}

.create-fab-button:hover,
.create-fab-button:active {
  width: 10rem;
}

.create-fab-button:hover ion-label,
.create-fab-button:active ion-label {
  display: block;
}

.app-tab-bar {
  height: 5.313rem;
}

.app-tab-bar,
.app-side-menu {
  --background: #ffffff !important;
}

.app-side-menu ion-item,
.app-tab-bar ion-tab-button {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.app-side-menu ion-item {
  font-size: 1rem;
  letter-spacing: 0.002rem;
}

.app-tab-bar ion-tab-button {
  font-size: 0.656rem;
  letter-spacing: 0.002rem;
}

.app-page-top-bar {
  --padding-start: 0rem !important;
  --padding-end: 0rem !important;
  width: 100% !important;
}

.app-page-top-bar ion-buttons ion-button:first-child {
  --padding-start: 0.8rem !important;
}

.app-page-top-tab-button:hover,
.app-page-top-tab-button.ion-color-primary {
  border-bottom: 1px solid #7700d5;
}

.app-page-top-search-bar {
  width: 0%;
  background-color: #ffffff;
  text-align: left;
  position: absolute;
  top: 0;
  z-index: 999;
  left: 0;
  transition: all 0.3s ease-in-out;
}
.app-page-top-search-bar.active {
  width: 100%;
}
.app-page-top-search-bar ion-searchbar ion-icon {
  margin-left: 0.6rem !important;
}
.app-page-top-search-buttons ion-button {
  min-width: 2rem;
}
.purple-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--light-purple-background);
  width: 95%;
  height: 40%;
  margin: 0 auto;
  border-radius: 20px;
}

.purple-container > * {
  margin: 0 auto;
}

.purple-container {
  color: var(--primary-purple);
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0.5px;
}

.grey-container {
  background-color: var(--container-grey);
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 100px;
  margin: 0 auto;
  padding: 12px;
  line-height: 0px;
  border-radius: 12px;
  margin-bottom: 10px;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.small-purple-text {
  color: var(--primary-purple);

  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 153.846% */
  letter-spacing: 0.75px;
}

.public-address-purple {
  color: var(--primary-purple);
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.75px;
  word-wrap: break-word;
  margin-left: 20px;
}
.align-to-grey-container {
  width: 90%;
  margin: 0 auto;
}

.collective-card {
  background-color: var(--container-grey);
  padding-right: 10px;
  padding-top: 10px;
  width: 75%;
  height: 95px;
}

.generic-grey-card {
  display: flex;
  flex-direction: column;
  padding: 12px;
  line-height: 0px;
  border-radius: 12px;
  margin-bottom: 10px;
}

.collective-card-right {
  background-color: var(--container-grey);
  margin-left: 7px;
  width: 20%;
  height: 95px;
}

.parent-hover:hover .collective-card,
.parent-hover:hover .collective-card-right {
  background-color: var(--light-purple-background);
}

.selected-pool {
  background-color: var(--light-purple-background);
  border: 1px var(--primary-purple) solid;
}

.collective-card-name {
  color: var(--primary-purple);
  font-feature-settings: "clig" off, "liga" off;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.5px;
  margin-left: 20px;
  margin-bottom: 5px;
}

.collective-data-container {
  position: relative;
}

.public-address {
  color: #646f85;
  font-size: 13px;
  font-weight: 400;

  letter-spacing: 0.75px;
  word-wrap: break-word;
  margin-left: 20px;
}

.mint-icon ion-icon ion-inner svg {
  margin-top: 2px !important;
}

.admin-tag {
  border-radius: 2px;
  background: var(--yellow);
  color: #000;
  text-align: center;
  font-family: "JetBrains Mono" sans-serif;
  font-size: 10px;

  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.5px;
  margin-top: 10px;
}

.collective-card-titles {
  color: var(--dark-grey);
  font-family: "JetBrains Mono" sans-serif;
  font-size: 12px;
  letter-spacing: 0.5px;
  padding-right: 5%;
}

/* Invite page */
ion-content.invite-page-code {
  --background: linear-gradient(0deg, #4483b0 0%, #853de0 46.35%, #c87ff2 100%);
  --color: #ffffff;
}

ion-content.invite-page-link {
  --background: linear-gradient(
    180deg,
    #823aba 0%,
    #6f48c4 53.13%,
    #b454cc 100%
  );
  --color: #ffffff;
}

.invite-page .invite-content {
  max-width: 43.75rem;
}

.invite-page .title {
  font-size: 2.25rem;
  font-weight: 800;
  line-height: 2.375rem;
  letter-spacing: 0.016rem;
}

.invite-page .title .tech {
  font-size: 1.25rem;
}

.invite-page .subtitle {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 0.688rem;
  letter-spacing: 0.031rem;
}

.invite-page .greetings {
  text-transform: uppercase;
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 1.125rem;
  letter-spacing: 0.031rem;
  word-wrap: break-word;
}

.invite-page .message {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1rem;
  letter-spacing: 0.031rem;
}

.invite-page .greetings-icon {
  width: 3rem !important;
  height: 3rem !important;
}

.invite-page .helper-text {
  color: #ffffff !important;
}

.invite-page .invite-action-btn {
  color: var(--ion-color-primary) !important;
  --background: #ffffff;
}

.invite-page .invite-action-btn:hover,
.invite-page .invite-action-btn:active {
  color: #ffffff !important;
  --background: var(--ion-color-primary);
}

.invite-page .invite-clear-btn {
  color: #edd8ff !important;
  width: 100% !important;
}

.invite-page .invite-clear-btn:hover {
  color: #ffffff !important;
}

.invite-page .invite-group-details {
  background: rgba(255, 255, 255, 0.18);
  border-radius: 1rem;
  border: 1px #f0e3fb solid;
  padding: 1rem 2rem;
}

.invite-page .invite-group-details .group-name {
  text-transform: uppercase;
  color: #f8f0ff;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.125rem;
  letter-spacing: 0.031rem;
  word-wrap: break-word;
}

.invite-page .invite-group-details .group-desc {
  color: white;
  font-size: 0.938rem;
  font-weight: 400;
  line-height: 1.125rem;
  letter-spacing: 0.031rem;
  word-wrap: break-word;
}

.invite-page .invite-footer-text {
  color: #f5f5f5;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 0.047rem;
  word-wrap: break-word;
}

.chat-message-input {
  padding-left: 1rem;
  border-radius: 6.25rem;
  border: 1px solid var(--ion-color-primary, #7700d5);
}

.chat-container .chat-item {
  width: 100%;
}

.chat-container .chat-item .message {
  word-wrap: break-word;
  white-space: pre-wrap;
}

.chat-container .chat-item .message-detail {
  white-space: nowrap;
}
.chat-container .chat-bubble {
  font-feature-settings: "clig" off, "liga" off;
  font-size: 0.875rem !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 1.313rem !important;
  letter-spacing: 0.031rem;
  margin-bottom: 0.5rem;
  display: inline-block;
  position: relative;
  padding: 0.75rem;
  max-width: 80%;
}

.chat-container .chat-bubble.left {
  background-color: #9747ff;
  border-radius: 24px 24px 24px 0px;
  color: #ffffff;
  float: left;
}

.chat-container .chat-bubble.right {
  background-color: #ebeaea;
  border-radius: 24px 24px 0px 24px;
  color: #000000;
  float: right;
}

.info-card-container {
  width: 90%;
  background-color: var(--container-grey);
  padding: 15px;
  margin-bottom: 5px !important;
  margin-top: 10px !important;
  box-shadow: none !important;
}

.first-card {
  height: 17%;
}

.second-card {
  height: 40%;
}

.third-card {
  height: 60%;
}

.info-card-container ion-card-title {
  color: var(--greys-text-dark-grey, #3d4767);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Anek Kannada";
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px; /* 123.529% */
  letter-spacing: 0.5px;
}

.info-card-container ion-card-subtitle {
  color: var(--light-mode-asset-activity-rows-grey-meta-data, #646f85);
  font-family: "Anek Kannada";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 153.846% */
  letter-spacing: 0.75px;
}
.info-card-container ion-card-content {
  padding: 0 !important;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
  padding-inline-start: 0px !important;
}
.info-card-container ion-label {
  margin-left: 5px;
}

.info-card-container ion-card-content ion-col {
  display: flex;
  align-items: flex-start;
}

.info-card-container ion-text {
  color: var(--buttons-active, #7700d5);
  font-family: "Anek Kannada";
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.75px;
}

.members-table ion-card-subtitle {
  color: #3d4767;
  font-size: 13px;
  font-family: "JetBrains Mono";
  font-weight: 500;
  letter-spacing: 0.5px;
  word-wrap: break-word;
}

.members-table ion-label {
  margin-left: 0px !important;
}

.members-table ion-col {
  margin-left: 0px;
}

.members-table ion-row {
  margin: 0px;
  padding: 0px;
}

.manage-group-row ion-text {
  color: var(--buttons-active, #7700d5);
  font-family: "Anek Kannada";
  font-style: normal;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.75px;
}

.active-pools-container {
  border-radius: 11px;
  background: var(--buttons-hover, #ba62fe);
  width: 37.579px;
  height: 18px;
  color: white;
  font-size: 15px;
  padding-left: 5px;
}

ion-modal.challenge-item-modal,
ion-modal.challenge-item-mint-modal {
  --min-height: 85% !important;
}

ion-modal.challenge-item-mint-modal {
  --width: 600px;
}

ion-modal#sheet-info-modal {
  --ion-background-color: rgba(255, 255, 255, 0.95) !important;
}

ion-modal#sheet-info-modal::part(content) {
  --ion-background-color: transparent !important;
  --border-radius: 1rem;
  --border-style: solid !important;
  --border-width: 1px !important;
  --border-color: #e9e9e9 !important;
  filter: drop-shadow(0px -6px 16px rgba(0, 0, 0, 0.05));
  backdrop-filter: blur(37.5px) !important;
}

ion-modal#sheet-info-modal.expanded::part(content) {
  filter: drop-shadow(0px -6px 20px rgba(0, 0, 0, 0.05));
  backdrop-filter: blur(37.5px);
}

ion-modal#sheet-info-modal::part(handle) {
  background: none !important;
  background-image: url("/assets/icons/modal-handle.svg") !important;
  width: 1.625rem;
  height: 0.44rem;
}

.img-responsive {
  width: 100%;
  object-fit: contain;
}

.challenge-info-grid {
  padding-inline-start: 0px !important;
  padding-inline-end: 0px !important;
  padding: 0px !important;
}

.challenge-item-actions {
  display: flex;
  justify-content: center !important;
  padding: 0rem 1rem;
  margin-top: 26rem;
}

.challenge-item-actions ion-button {
  --border-radius: 100%;
  margin: 0 0.3rem;
}

.challenge-top-grid {
  --ion-grid-column-padding: 1px !important;
  --ion-grid-column-padding-xs: 1px !important;
}

.challenge-top-grid .challenge-info-title {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.313rem; /* 150% */
  letter-spacing: 0.031rem;
}

.challenge-top-grid .challenge-info-amount {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.313rem;
  letter-spacing: 0.031rem;
}

.challenge-top-grid .challenge-info-creator {
  color: #4f4f4f;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.313rem; /* 150% */
  letter-spacing: 0.031rem;
}

.challenge-top-grid .challenge-info-item-details {
  color: #4f4f4f;
  font-size: 0.688rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
}

.challenge-top-grid .challenge-info-item-details ion-col {
  margin-right: 0.4rem;
}

.challenge-top-grid .challenge-info-item-details ion-label {
  padding-left: 0.2rem;
  padding-bottom: 0.1rem;
}

.challenge-top-bar {
  --padding-start: 0rem !important;
  --padding-end: 0rem !important;
  width: 100% !important;
  padding-left: 0.3rem !important;
}

.challenge-top-tab-button {
  min-height: 1.25rem !important;

  --padding-start: 0px !important;
  --padding-end: 0px !important;
  margin-inline-start: 0.5rem !important;
  margin-inline-end: 0.5rem !important;
}

.challenge-top-bar ion-buttons ion-button:first-child {
  margin-inline-start: 0rem !important;
}

.challenge-top-tab-button:hover,
.challenge-top-tab-button.ion-color-primary {
  border-bottom: 1px solid #7700d5;
}

.challenge-info-list-title {
  text-transform: uppercase;
  font-size: 0.938rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.313rem;
  letter-spacing: 0.031rem;
}

.challenge-info-list-content {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.313rem;
  letter-spacing: 0.031rem;
  margin-bottom: 1rem;
}

.challenge-mint-fab-button {
  transition: bottom 0.6s;
  position: sticky;
  max-width: 50%;
  z-index: 999999 !important;
  bottom: 0%;
  left: 25%;
}

.rewards-summary-page ion-card {
  background-color: var(--container-grey);
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 40%;
  margin: 0 auto;
  padding: 12px;
  line-height: 0px;
  border-radius: 12px;
  margin-bottom: 10px;
  box-shadow: none !important;
}

.rewards-summary-page ion-item {
  background-color: none !important;
  background-color: transparent !important;
  background: none !important;
}

.challenge-info-cards {
  position: relative;
  background-color: #ffffff;
}

.challenge-info-card-item {
  background-color: #ffffff;
  position: absolute;
  left: 0;
  pointer-events: none;
  width: 100%;
  aspect-ratio: 100/150;
}

img.challenge-info-img {
  object-fit: contain;
  height: 25rem;
  width: 100%;
}

.challenge-info-card-item-element {
  position: absolute;
  height: 25rem;
  width: 100%;
  aspect-ratio: 100/150;
}

.challenge-info-card-item-element-dragging {
  cursor: grab;
}

.challenge-mint-img {
  height: 15.077rem !important;
  width: 15.077rem !important;
  object-fit: cover;
}

.challenge-mint-img,
.challenge-mint-img-skeleton {
  border-radius: 0.813rem;
  align-self: center;
}

.challenge-mint-img-skeleton {
  margin-top: 0;
}

.challenge-mint-card {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 0;
  width: 100%;
  max-width: 16rem !important;
  margin-inline: 0;
  background-color: #f8f8f8 !important;
  box-shadow: none !important;
  cursor: pointer;
}

.challenge-mint-card ion-card-header {
  padding: 0.3rem 0.3rem 0 0.5rem;
}

.challenge-mint-card ion-card-title,
.challenge-mint-card ion-card-subtitle {
  font-size: 0.875rem;
  font-style: normal;
  line-height: 1.313rem;
  letter-spacing: 0.031rem;
}

.challenge-mint-card ion-card-title {
  color: #4f4f4f;
  font-weight: 500;
}

.challenge-mint-card ion-card-subtitle {
  color: #000;
  display: flex;
  justify-content: space-between;
}

.challenge-mint-card ion-card-subtitle .name {
  text-transform: capitalize;
  font-weight: 600;
}

.challenge-mint-card ion-card-subtitle .cost {
  font-weight: 500;
}

.challenge-mint-card ion-card-content {
  padding-inline-start: 0px !important;
  padding-bottom: 0px !important;
}

.challenge-mint-amount-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.challenge-mint-amount-btn {
  height: 2.188rem !important;
  width: 3.179rem !important;
  --padding-start: 0.1rem !important;
  --padding-end: 0.1rem !important;
  border-radius: 1.5rem !important;
}

.challenge-mint-amount {
  --padding-top: 0px !important;
  min-height: 2.188rem !important;
  height: 2.188rem !important;
  width: 7.943rem !important;
  margin-left: 0.4rem;
  margin-right: 0.4rem;
  border-radius: 2rem;
  padding-top: 0px !important;
  border: 1px solid var(--ion-color-primary);
  text-align: center;
}

/* Chrome, Safari, Edge, Opera */
.challenge-mint-amount input::-webkit-outer-spin-button,
.challenge-mint-amount input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.challenge-mint-amount input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.challenge-mint-amount:focus {
  border-bottom: 0px !important;
}

.mint-content-bottom-ribbon {
  background-color: #f8f8f8 !important;
  text-align: center;
  font-size: 0.813rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1rem;
}

.challenge-time-chip {
  border-radius: 1.125rem;
  background: #fbff4a;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
  color: #000;

  font-family: JetBrains Mono;
  font-size: 0.563rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}

.challenge-time-chip.challenge-time-chip-ontop {
  position: absolute;
  left: 0.6rem;
  top: 13.077rem;
  padding-inline-start: 0.5rem;
  padding-inline-end: 0.5rem;
}

.creator-of-mint {
  color: var(--greys-text-dark-grey, #3d4767);
  font-family: "Anek Kannada";
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.ml-1 {
  margin-left: 10px !important;
}
.rewards-summary-item {
  margin: 0.2rem;
  padding: 1.2rem 0.8rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 0.75rem;
  background-color: #f8f0ff;
}

.rewards-summary-amount {
  width: 100%;
  color: var(--ion-color-primary);
  font-size: 2.25rem;
  font-weight: 400;
  line-height: 2rem !important;
}

.rewards-summary-description {
  text-transform: uppercase;
  color: #000d35;
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 0.047rem;
}

.rewards-collective-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  padding: 1.3rem 1rem;
  border-radius: 12px;
  background-color: #f9f9f9;
}

.rewards-collective-card-title {
  color: #3d4767;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 1.063rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.313rem;
  letter-spacing: 0.031rem;
}
.rewards-collective-card-group-name {
  color: var(--ion-color-primary);
  font-feature-settings: "clig" off, "liga" off;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.313rem;
  letter-spacing: 0.031rem;
}

.rewards-collective-card-group-address {
  color: #646f85;
  font-size: 0.813rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 0.047rem;
}

.rewards-collective-card-group-data {
  margin-left: 0.5rem;
  color: #000d35;
  font-size: 0.688rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
}
.rewards-collective-card-group-actions {
  font-size: 0.813rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem;
  letter-spacing: 0.047rem;
}
.rewards-collective-card-group-data ion-icon {
  margin-right: 0.1rem;
}
